:root {
  --azure: #30abd6;
  --very-light-blue: #e4ecf3;
  --white: #ffffff;
  --invalid-name: #eff2fa;
  --invalid-name: #1b70f0;
  --pale-grey: #f0f5f9;
  --dark: #1f2343;
  --amethyst: #8e4dd6;
  --pale-grey: #f6f9fa;
  --topaz: #10c9b9;
  --dark-grey-blue: #383e69;
  --red-pink: #e73958;
  --warm-blue: #3a5edd;
  --butterscotch: #ffb44d;
}
html{
  font-size: 62.5%;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
li .active{
  text-decoration: underline;
}

/* 
a{
  text-decoration: none;
}
ul{
  list-style: none;
} */
.img-fluid {
    max-width: 100%;
    height: auto;
}
.Landing-Page {
  padding: 0;
  background-color: var(--white);
  width: 100%;
  height: auto;
  margin: 0;
}
.rectangle{
padding: 2rem 7rem;
}
.alogoaicolour {
  width: 20.7rem;
  height: 3rem;
  object-fit: contain;
}
.Home {
  font-family:'Nunito';
  font-size: 1.6rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.6rem;
  letter-spacing: normal;
  color: #335ce5;
  margin-right: 4rem;
}
.button{
  width: 15rem;
  height: 4rem;
  text-align: center;
  margin-left: 7rem;
  border-radius: 6px;
  background-color: var(--azure);
}
.button-text{
  font-family: 'Nunito';
  font-size: 1.6rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.6rem;
  letter-spacing: normal;
  text-align: center;
  color: var(--white);
}
.Color {
  width: 11rem;
  height: 3.6rem;
  margin: .5rem 0 0 0;
  border-radius: 6px;
  background-color: var(--azure);
}
.Enter-button-text {
  font-family: 'Nunito';
  font-size: 1.6rem;
  font-weight: bold;
  line-height: 2.6rem;
  letter-spacing: 0;
  text-align: center; 
  color: var(--white);
  margin-bottom: 0;
}
.headpart{
  background-color: #f4f5f7;
}
.Master-Machine-Learn {
  margin: 12rem 0 0 7rem;
  font-family: 'Nunito';
  font-size: 5rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.27;
  letter-spacing: normal;
  color: var(--dark);
}
.in-just-3-Months {
  margin: 10px 0 30px 70px;
  font-family: 'Nunito';
  font-size: 5rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.27;
  letter-spacing: normal;
  color: var(--dark);
}.imgcol{
margin-left: 25px;
}

.aiconscommongreen_tick {
  width: 20px;
  height: 20px;
  margin: 0 0 .5rem 7rem;
  object-fit: contain; 
}

.oval_text{
  margin: 0 0 0 20px;
  font-family: 'Nunito';
  font-size: 20px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 3rem;
  letter-spacing: normal;
  color: var(--dark);
}

.explore_text {
  font-family: 'Nunito';
  font-size: 2rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 3rem;
  letter-spacing: 0;
  text-align: center;
  color: var(--white);
}
.Fill-57 {
  width: 6.33rem;
  height: 6.32rem;
  margin: 160px 0 66.1px 180px;
  object-fit: contain;
  border-radius: 50%;
  background-color: var(--warm-blue);
}
.AI-Educator-ill_02-01 {
  /* width: 654px;
  height: 659px; */
  margin: 70px 0 0 0;
  object-fit: contain;
}
.Group-49 {
  /* width: 1280px;
  height: 725px; */
  margin: 71px 0 64px;
  object-fit: contain;
}
.Our-Courses {
  margin: 0 0 40px;
  font-family: 'Nunito';
  font-size: 5.5rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 7rem;
  letter-spacing: 0;
  text-align: center;
  color: var(--dark);
}

.cardtitle {
  margin:10px 0 0 20px;
  font-family: 'Nunito';
  font-size: 2rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 3rem;
  letter-spacing: 0;
  color: var(--dark);
}
.hours {
  font-family: 'Nunito';
  font-size: 1.6rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.6rem;
  letter-spacing: normal;
  color: var(--dark-grey-blue);
}
.aiconscommonhours {
  width: 2rem;
  height: 2.1rem;
  object-fit: contain;
  margin-left:20px;
  margin-right: 7px;
}
.button1{
  width: 21.8rem;
  height: 4.6rem;
  margin: 6rem 0 0 0;
  border-radius: .6rem;
  background-color: var(--azure);
}
.What-makes-us-differ {
  margin: 12rem 0 0 0;
  font-family: 'Nunito';
  font-size: 5.5rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 7rem;
  letter-spacing: 0;
  text-align: center;
  color: var(--dark);
}

.What-makes-us-differ .text-style-1 {
  color: var(--topaz);
}
.Group-30 {
  margin: 60px 0 0 0;
  object-fit: contain;
}
.Zone-of-Proximal-Fai {
  margin: 126px 180px 15px 54px;
  font-family: 'Nunito';
  font-size: 40px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 50px;
  letter-spacing: 0;
  color: var(--dark);
}
.commontxt {
  margin: 0 54px 15px 54px;
  font-family: 'Nunito';
  font-size: 20px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 30px;
  letter-spacing: 0;
  color: var(--dark-grey-blue);
}
.aiconsbanner_video {
  width: 32px;
  height: 32px;
  margin: 0 9px 0 0;
  object-fit: contain;
}
.Problem-Solving-Gap {
  margin: 152px 16px 15px 163px;
  font-family: 'Nunito';
  font-size: 4rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height:5rem;
  letter-spacing: normal;
  color: var(--dark);
}
.commontxt2 {
  margin: 0 0 15px 163px;
  font-family: 'Nunito';
  font-size: 2rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 3rem;
  letter-spacing: 0;
  color: var(--dark-grey-blue);
}


.Group-44-Copy {
  /* width: 458px;
  height: 480px; */
  margin: 60px 0 0 0;
  object-fit: contain;
}
.button3 {
  width: 230px;
  height: 40px;
  margin-left: 54px;
  border-radius: 6px;
  background-color: var(--azure);
}
.btn3{
  margin-left: 163px;
}
.Group-44 {
  /* width: 459px;
  height: 482px; */
  margin: 60px 3px 0px 0;
  object-fit: contain;
}


.Group-62 {
  /* width: 492px;
  height: 458px;
  margin: 60px 168px 60px 26px; */
  margin: 60px 0 0 0;
  object-fit: contain;
}
.Group-30-2 {
  width: 480px;
  height: 479px;
  margin: 0 7px 0px 97px;
  object-fit: contain;
}
.Virtual-Classroom {
  margin: 102px 98px 15px 51px;
  font-family: 'Nunito';
  font-size: 40px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: normal;
  color: var(--dark);
}
.Major-Projects {
  margin: 173px 66px 15px 97px;
  font-family: 'Nunito';
  font-size: 40px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: normal;
  color: var(--dark);
}
.Group-47 {
  width: 507px;
  height: 458px;
  margin: 60px 139px 0px 3px;
  object-fit: contain;
}
.Career-Support {

  margin: 147px 0 15px 51px;
  font-family: 'Nunito';
  font-size: 40px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: normal;
  color: var(--dark);
}
.With-all-these-you-c {
  margin: 60px 0 15px 15px;
  font-family: 'Nunito';
  font-size: 24px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.42;
  letter-spacing: normal;
  text-align: center;
  color: var(--dark);
}

.With-all-these-you-c .text-style-1 {
  color: var(--topaz);
}
.The-future-of-our-wo {

  margin: 15px 0 0;
  font-family: 'Nunito';
  font-size: 20px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: center;
  color: var(--dark-grey-blue);
}
.goahead{
  background-color: var(--pale-grey);
}
.Get-Ahead-with-AI-Ed {
  margin: 120px 0 0 0;
  padding-top: 80px;
  font-family: 'Nunito';
  font-size: 55px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.27;
  letter-spacing: normal;
  text-align: center;
  color: var(--dark);
}

.Get-Ahead-with-AI-Ed .text-style-1 {
  color: #00cdb9;
}
.acertificate {
  width: 555px;
  height: 399px;
  margin: 60px 0 30px 0;
  object-fit: contain;
}
.Rectangle-Copy-3 {
  width: 750px;
  height: 179px;
  margin: 0px 1px 0 0;
  border-radius: 10px;
  box-shadow: 0 12px 30px -19px rgba(0, 0, 0, 0.2);
  border: solid 1px #e5eff2;
  background-color: var(--white);
}
.Our-Constant-Support {
  margin: 136px 0 60px 0;
  font-family: 'Nunito';
  font-size: 55px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.27;
  letter-spacing: normal;
  text-align: center;
  color: var(--dark);
}

.Our-Constant-Support .text-style-1 {
  color: #1f2245;
}

.Our-Constant-Support .text-style-2 {
  color: #00d1b9;
}

.Our-Constant-Support .text-style-3 {
  color: #00cdb9;
}
.cardrectangle{
  border-radius: 10px;
  box-shadow: 0 12px 30px -19px rgba(0, 0, 0, 0.2);
  padding: 40px 40px 30px 40px;
  border: solid 1px #e5eff2;
  text-align: center;
  align-items: center;
  background-color: var(--white);
}
.aprofile3 {
  width: 100px;
  height: 100px;

  text-align: center;
 
  object-fit: contain;
}
.card-titles{
  margin: 30px 0 0 0;
  font-family: 'Nunito';
  font-size: 20px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: var(--dark);
}
.card_texts {
  margin: 5px 0 0;
  font-family: 'Nunito';
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: normal;
  text-align: center;
  color: var(--dark-grey-blue);
}
.cardpara {
  margin: 20px 0 0 0;
  font-family: 'Nunito';
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: normal;
  text-align: center;
  color: var(--dark-grey-blue);
}
/* .downimg{
  background: aliceblue;
  background-color: aliceblue;
} */
.downcol{
      padding: 70px 0 70px 70px;
}
.downloadsec{
  margin: 119px 0 121px;
  /* padding: 70px; */
  object-fit: contain; background-image: url('images/bg.svg');
}
.Download-the-App-Now {
  font-family: 'Nunito';
 
  text-align: center;
  font-size: 5.1rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.27;
  letter-spacing: normal;
  color: var(--dark);
}
.mbuttonsplaystoregoogle_play {
  background-image: url('images/bg.svg');
  width: 165px;
  height: 48px;
  object-fit: contain;
}
.mobcol{
  padding-left: 83px;
}
.amockupdownload_app {
  width: 354px;
  height: 454px;
  object-fit: contain;
}
.bimg1{
background-color: blue;
}
.bimg2{
  background-color: skyblue;
}
.bimg3{
  background-color: slateblue;
}
.booktext{
  font-family: 'Nunito';
  font-weight: normal;
  font-size: 1.6rem;
  line-height: 2.6rem;
  letter-spacing: 0;
  columns: #383e69;
}
.Featured-Articles- {
  margin: 0 293px 60px 294px;
  font-family: 'Nunito';
  font-size: 55px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.27;
  letter-spacing: normal;
  text-align: center;
  color: var(--dark);
}

.Featured-Articles- .text-style-1 {
  color: #00d1b9;
}

.Featured-Articles- .text-style-2 {
  color: #00cdb9;
}
.Artificial-Intellige {
  margin: 20px 20px 10px;
  font-family: 'Nunito';
  font-size: 20px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: var(--dark);
}
.Artificial-para {
 
  margin: 10px 20px 15px;
  font-family: 'Nunito';
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: var(--dark-grey-blue);
}
.mailboxsec{
  margin: 120px 70px 0 70px ;background-color: #f0f5f9;  
}
.mailboxcol{
  padding: 70px;
}
.Dont-want-to-miss-a {
  margin: 0 0 15px 0;
  font-family: 'Nunito';
  font-size: 40px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: normal;
  color: var(--dark);
}
.Get-weekly-updates-o {
  margin: 0px 0 30px 0;
 
  font-family: 'Nunito';
  font-size: 20px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: var(--dark-grey-blue);
}
.mailboximg{
  padding: 48px 70px 48px 13px;
}
.aillustrationarticle_detailnewsletter {
  /* width: 354px;
  height: 354px; */
  
  /* margin: 0 0 0 83px; */
  object-fit: contain;
}
.emaillabel{
  font-family: "Nunito";
  font-weight: normal;
  font-size: 1.2rem;
  line-height: 2rem;
  letter-spacing: normal;
  color: #383e69;
}
.emailtext{
  font-family: 'Nunito';
  font-weight: normal;
  font-size: 1.6rem;
  line-height: 2.6rem;
  letter-spacing: normal;
  color: #383e69;
}
.emailinp{
  border: none;
  background-color: #f0f5f9;
}
.Courses {
  margin: 0 188px 40px 0;
  font-family: 'Nunito';
  font-size: 20px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: var(--dark);
}
.footersec{
  margin: 120px 0 0;
  padding: 70px 70px 0 70px;
  background-color: var(--pale-grey);
}
.Connect-with-Us {
  margin: 0 17px 40px 0;
  font-family: 'Nunito';
  font-size: 20px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: var(--dark);
}
.Explore {
  margin: 0 130px 15px 0;
  font-family: 'Nunito';
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.63;
  letter-spacing: normal;
  color: var(--dark-grey-blue);
}
.Copyright-2020-AI {
  /* margin: 0 659px 1px 0; */
  font-family: 'Nunito';
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.67;
  letter-spacing: normal;
  color: var(--dark-grey-blue);
}
.Terms-Conditions {
 
  /* margin: 0 30px 0 900px; */
  font-family: 'Nunito';
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.67;
  letter-spacing: normal;
  color: var(--dark-grey-blue);
}
.icon{

  border: 10px solid white;
border-radius: 50%;
}



@media (min-width: 1281px) {

  
}

@media (min-width: 1025px) and (max-width: 1280px) {
.tickcol{
  width: 100%;
}
}

@media (min-width: 768px) and (max-width: 1024px) {
.tickcol{
  width: 100%;
}
  
}

@media (min-width: 481px) and (max-width: 767px) {

 


  
}



@media (min-width: 320px) and (max-width: 480px) {
 
 
}
@media(min-width:0px) and (max-width:319px){
  .tickcol{
  width: 100%;
}
}